@{
    ViewBag.Title = "من نحن";
}
<h1  dir="rtl">@ViewBag.Title</h1>

<p>  
    <h4 dir="rtl">
        بنيان تك هي شركة واعدة في حلول وخدمات تكنولوجيا المعلومات. في فترة زمنية قصيرة ،
        انتشرت منتجاتنا وتطبيقاتنا المخصصة في جميع أنحاء مصر والمملكة العربية السعودية.
        يشمل عملاؤنا بعضًا من أسرع شركات المرحلة المبكرة نموًا.
        لدينا فريق صغير له تأثير كبير. نحن نبني تطبيقات ذكية تحل أكبر التحديات
        تطوير شركة يمكنها تنفيذ أي مشروع من حلول وخدمات تكنولوجيا المعلومات
        بالإضافة إلى إدارة المشاريع بأعلى مستوى من الكفاءة ،
        لتصبح رائدة معروفة ومحترمة في المجالات السابقة.
        مهمتنا
        لتقديم مشاريع عالية الجودة وفعالة من حيث التكلفة في الوقت المحدد من خلال توظيف ودعم فرق متحمسة ومرنة ومركزة.
        لتمكين وتدريب موظفينا لتلبية وتجاوز توقعات عملائنا بناء في الوقت المحدد في حدود الميزانية وفي حدود المواصفات.
        للحفاظ على أعلى مستويات الاحتراف والنزاهة والصدق والنزاهة في علاقاتنا مع موردينا والمقاولين من الباطن والعملاء.
        قيمنا
        ينبع نجاح بنيان تك من "قيمنا الأساسية" ، التي توجهنا في اتخاذ قراراتنا ، وقد ساعدت هذه القيم في تحديد فلسفة عمل بنيان تك
        . تواصل فرق الإدارة لدينا الالتزام بقيمنا التي تظهر الاحترام والمساءلة والنزاهة في كل ما يفعلونه.
        نتيجة لذلك ، أصبحت بنيان تك شريكًا موثوقًا به لجميع شركاء العمل

    </h4>  
    
    
</p>
