@{
    ViewBag.Title = "اتصل بنا";
}
<h2 dir="rtl">@ViewBag.Title</h2>


<address dir="rtl">
    <div>
        فرع الرياض : 3601 طريق الامام سعود بن فيصل - حى العقيق - الرياض - السعودية <br />
        فرع القاهرة : 23 مدينة الفرسان - حي القطامية - القاهرة - مصر<br />
    </div>
</address>

<address dir="rtl">

    <div>
        <abbr title="Phone"> </abbr>
        0106 044 4544 او اتصل بنا على
    </div>

</address>

<address dir="rtl">
    <strong>موقعنا  </strong>  <a href="http://www.boniantech.com"/> www.boniantech.com
</address>

 




