@{
    ViewBag.Title = "Home Page";
}

<div>   

    <h1 dir="rtl">الصرح - نظام تخطيط موارد المؤسسات ونظام الاملاك والعقود</h1>

    <img dir="rtl"  src="~/Content/BonianTech.png" width="820" height="312" />
</div>